notMNIST_train.zip.part
notMNIST_test.zip
/intro-to-tensorflow/*.pickle
/intro-to-tensorflow/notMNIST_train.zip
/2-image-classification/cifar-10-batches-py/*
*.zip
/2-image-classification/*.gz
/face_generation/data
/face_generation/.ipynb_checkpoints
/face_generation/__pycache__
